/******************** All of my the top of my webpage or header css will go below ********************/

/* 35em is also 560px when basefont is 16px */
@media only screen and (min-width: 32.5em) {
    header {
        display: grid;
        grid-template-columns: 6fr;
        grid-template-rows: 100px;
        align-items: center;
        justify-content: center;
        background-color: brown;
        color: white;
        max-width: 100%;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
        margin: 0 auto;
    }

    .headericon {
        float: left;
        height: 11em;
        margin-left: 1em;
        margin-top: 3em;
        margin-bottom: 0;
    }

    header h1 {
        font-size: 3rem;
        text-align: center;
        line-height: 1px;
        font-family: 'roboto', sans-serif;
        color: white;
        display: block;
        margin-top: -.5em;

    }

    header h2 {
        font-size: 2rem;
        text-align: center;
        line-height: auto;
        font-family: 'roboto', sans-serif;
        color: white;
        padding-bottom: 1em;
        ;
    }

    form {
        display: block;
        margin-left: 2em;
    }

    h2 {
        text-align: center;
        padding: .5rem;
        font-family: 'Carter One', sans-serif;
    }

    /* ****************************** this area is for images *************************************************** */
    .banner-img {
        max-width: 100%;

    }



    /******************** All of my the middle of my webpage or main css will go below *******************/


    body {
        background-color: cornsilk;
        font-family: 'Lato', sans-serif;
        display: grid;
        max-width: 1000px;
        justify-content: center;
        display: block;
        margin: 0 auto;
}

    
    .forecast {
        /*display: grid;
        grid-template-columns: repeat(3, 1fr);
        font-size: 18px;
        justify-content: right;
        margin-left: 9em;
        padding-top: 1em;*/
        margin-bottom: 2em;
    }

    .forecasthead {
        font-size: 18px;
        justify-content: right;
    }

    #ss-atmospheric {
        grid-row: 1;
        grid-column: 1;
        width: fit-content;
        align-self: center;
    }

    .sevenday-container {
        grid-template-columns: repeat(7, 1fr);
        background: transparent;
        border: 2px solid brown;
        padding: 5px;
    }
    .forecast-day{
        display: grid;
        grid-template-rows: auto 1fr 1fr auto;
    }


    /******************** All of my the bottom of my webpage or footer css will go below *****************/

    footer {
        max-width: 100%;
        
        background-color: brown;
        text-align: center;
        color: white;
        font-size: 25px;
        padding: 1px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }

    /*end medium */
}
